/*css stylesheet*/

/*define parent text styles*/
* {
    font-family: Roboto, sans-serif;
}
h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
h3 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
p {
    color: #E5E7EB;
    font-size: 18px;
}
/*define child text styles*/
/*quote is a child of h2*/
.button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-style: bold;
}
.button.btn-primary {
    background-color: #3882F6;
}
.button.btn-secondary {
    border-color: white;
    background-color: inherit;
}
.p-secondary, 
.h3-secondary {
    color: #1F2937;
}
.h3-secondary {
    width: 70%;
    text-align: right;
}
.h2-italic {
    font-weight: 300;
    font-style: italic;
    width: 70%;
}

/*styling div classes*/
* {
    outline: 2px solid black;
}
div {
    display: flex;
    box-sizing: border-box;
}
/*background styles*/
.primary-bg {
    height: auto;
    width: auto;
    background-color: #1F2937;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondary-bg {
    height: 500px;
    width: auto;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.default-bg {
    height: 500px;
    width: auto;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;

}
/*1. header section*/
/*top nav bar*/
.header {
    width: 70%;
    height: 100px;
    flex-direction: row;
    align-items: center;
}
.header-links {
    margin-left: auto;
    gap: 100px;
    display: flex;
}
/*hero text*/
.top-section {
    width: 70%;
    height: auto;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}
.top-section-text {
    top: 100px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.cover-image {
    width: 50%;
    height: auto;
}

/*2. information highlight section*/
.info-section {
    width: 70%;
    height: auto;
    justify-content: space-between;   
}
.image-info {
    width: 250px;
    height: auto;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.image-info img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

/*3. big quote section*/
/*as defined using background divs*/



/*4. call to action section*/
.call-to-action {
    height: 50%;
    width: 70%;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.call-to-action-text {
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    gap: 0px;
    display: flex;
}
.call-to-action-button {
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
}