/*css stylesheet*/

/*define parent text styles*/
* {
    font-family: Roboto, sans-serif;
}
h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
h3 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
p {
    color: #E5E7EB;
    font-size: 18px;
}

/*define child text styles*/
/*quote is a child of h2*/
.button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-style: bold;
}
.button.btn-primary {
    background-color: #3882F6;
}
.button.btn-secondary {
    border-color: white;
}
.p-secondary, 
.h3-secondary {
    color: #1F2937;
}
.h2-italic {
    font-weight: 300;
    font-style: italic;
}

/*styling div classes*/
* {
    outline: 2px solid black;
}
div {
    display: flex;
    box-sizing: border-box;
}
/*background styles*/
.primary-bg {
    height: 500px;
    width: auto;
    background-color: #1F2937;
}
.secondary-bg {
    height: 500px;
    width: auto;
    padding: 90px;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
}
.default-bg {
    height: 500px;
    width: auto;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.info-section {
    padding: 50px;
    width: 50%;
    height: auto;
    justify-content: space-between;
    
}
img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}


.call-to-action {
    height: 250px;
    width: 65%;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.call-to-action-text {
    flex-direction: column;
    justify-content: center;
}
.call-to-action-button {
    flex-direction: column;
    justify-content: center;
}